<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i> </span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding:20px">
                <span class="m-r-sm text-muted welcome-message"></span>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Logout" class="text-decoration-none">
                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
    </nav>
</div>