@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutLogin";
}

<div class="ibox">
    <div class="ibox-content">
        <h2 style="font-size: 4em;">OdontoSystem</h2>
        <h3>Revisa tu correo electrónico para recuperar tu cuenta</h3>
        <br />
        <a class="btn btn-primary" asp-page="./Login">Iniciar sesión</a>
    </div>
    <div class="ibox-title" style="padding: 0.5em; padding-top: 1em;">
    </div>
</div>
