@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="ibox">
    <div class="ibox-content">
        <form class="m-t" role="form" method="post" id="account">
            <h2 style="font-size: 4em;">OdontoSystem</h2>
            <p>Inicia sesión en tu cuenta</p>

            <div class="form-group" style="margin: 2em !important;">
                <label asp-for="Input.Email" class="d-flex justify-content-start"></label>
                <input asp-for="Input.Email" class="form-control" required />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group row m-3">
                <div class="d-flex justify-content-between">
                    <label asp-for="Input.Password"></label>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none"><small>¿Olvidaste tu contraseña?</small></a>
                </div>
                <div class="row">
                    <div class="col-11">
                        <input asp-for="Input.Password" class="form-control col-10" required />
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <div id="showPass" class="col-2 d-flex justify-content-between align-items-center" style="cursor:pointer;"><i class="fa fa-eye" style="font-size: 1.5em;"></i></div>
                    </div>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group row m-l m-r">
                <div class="d-flex w-100 justify-content-between">
                    <div class="form-check abc-checkbox form-check-inline">
                        <input class="form-check-input" asp-for="Input.RememberMe">
                        <label class="form-check-label" asp-for="Input.RememberMe"> Recuérdame </label>
                    </div>
                    <button class="btn btn-primary" type="submit" id="SubmitBtn">Iniciar sesión</button>
                </div>
            </div>
        </form>
    </div>
    <div class="ibox-title" style="padding: 0.5em; padding-top: 1em;">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#showPass').on('click', function () {
            if ($('#Input_Password').attr('type') === "password") {
                $('#Input_Password').attr('type', 'text');
                $($(this).children()[0]).removeClass('fa-eye');
                $($(this).children()[0]).addClass('fa-eye-slash');
            }
            else {
                $('#Input_Password').attr('type', 'password');
                $($(this).children()[0]).removeClass('fa-eye-slash');
                $($(this).children()[0]).addClass('fa-eye');
            }
        });
    </script>
}
